<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4">
  <servlet>
    <servlet-name>IndexSeverlet</servlet-name>
    <servlet-class>severlet.IndexSeverlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexSeverlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexSeverlet</servlet-name>
    <url-pattern>/index/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminSeverlet</servlet-name>
    <servlet-class>severlet.AdminSeverlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSeverlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminSeverlet</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ImgSeverlet</servlet-name>
    <servlet-class>severlet.ImgSeverlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgSeverlet</servlet-name>
    <url-pattern>/img</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImgSeverlet</servlet-name>
    <url-pattern>/img/*</url-pattern>
  </servlet-mapping>
  
  
  
  
    
    
      <servlet>
    <servlet-name>WxSeverlet</servlet-name>
    <servlet-class>severlet.WxSeverlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxSeverlet</servlet-name>
    <url-pattern>/wx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WxSeverlet</servlet-name>
    <url-pattern>/wx/*</url-pattern>
  </servlet-mapping>
  
    
    
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>